<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qlcd.loggertools">

    <application>

        <activity android:name=".ui.detail.LogDetailActivity"/>
        <activity android:name=".ui.list.LogListActivity"/>
    </application>
</manifest>